/* Write your CSS here */

.para {
  font-size: 14px;
  font-family: 'Roboto';
  color: #000000;
  margin-right: 10px;
  width: 400px;
}

.button {
  margin-left: 7px;
  background-color: #ffffff;
  height: 22px;
  width: 80px;
  color: #ff0b37;
  border-radius: 7px;
  border-width: 1px;
  border-style: solid;
  border-color: #ff0b37;
}

.lists {
  display: flex;
  flex-direction: row;
  padding: 4px;
}
